DerivedDataCache
Intermediate
Saved
Binaries
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Heaven_Main1_BuiltData.uasset
Content/Maps/Heavent3_BuiltData.uasset
Content/Maps/Heavent2_BuiltData.uasset
Content/Maps/Heaven4_Quest_BuiltData.uasset
Content/Maps/Heaven3_BuiltData.uasset
